.comments-form {
  position: fixed;
  right: 0;
  height: 30px;
  width: 200px;
  bottom: 0;
  background: orange;
  padding: 0 6px;

  label {
    font-size: 12px;
    padding: 2px;
    display: inline-block;
  }
  .title {
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    padding: 6px;
    color: #22a;
    .material-icons {
      font-size: 18px;
      vertical-align: baseline;
    }
  }
  .form {
    visibility: hidden;
    padding: 8px;
  }
  textarea,
  input[type="email"] {
    font-size: 14px;
    width: 100%;
  }
}

.comments-form.open {
  height: 260px;
  width: 240px;
  .form {
    visibility: visible;
  }
}
