@import "./_constants";

.main-bus-segment.new {
  user-select: none;
  display: flex;
  .bus-lane {
    background-color: #1111;
    &:first-child {
      margin-left: 15px;
    }
    width: 25px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;

    &.ghost {
      opacity: 0.5;
    }

    &.flipped {
      .bus-piece.bottom.left {
        margin-left: -8px;
        transform: rotate(-90deg);
        margin-top: 10px;
      }
      .bus-piece.bottom.right {
        margin-left: -8px;
        transform: rotate(90deg);
        margin-top: 10px;
      }
      .bus-piece.bottom.none {
        margin-top: 10px;
      }
      .bus-piece .belt {
        transform: rotate(180deg);
      }
    }

    .bus-piece {
      .belt {
        background-color: #3f4952;
        background-image: url("../transport_belt.png");
        background-size: 30px;
        background-repeat-y: repeat;
        height: 100%;
        width: 100%;
        display: block;
      }

      filter: drop-shadow(2px 4px #222);

      &.top {
        height: 100px;
      }

      &.bottom {
        .belt {
          background-color: #3f4952;
        }
      }
      &.bottom.left {
        height: 30px;
        width: 34px;
        margin-left: -8px;
        transform: rotate(90deg);
      }

      &.bottom.right {
        height: 30px;
        width: 34px;
        transform: rotate(-90deg);
      }

      &.bottom.down {
        height: 40px;
        //width: 32px;
      }

      &.bottom.none {
        height: 30px;
      }
    }

    .icon {
      will-change: transform;
      transform: scale(0.4);
      margin: -22px;
      position: absolute;
      margin-top: 20px;
      z-index: 1;
      filter: drop-shadow(2px 5px black);
      &.animate {
        animation-duration: 6s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }

  .belt-connection {
    height: 20px;
    position: absolute;
    border-radius: 4px;
    background: rgb(18 21 21 / 90%);
    top: 50px;
    left: 0;
    margin-top: 10px;
    &.ghost {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .belt-connections {
    position: relative;
    z-index: 1;
  }
}

@keyframes slidein {
  from {
    transform: translateY(0) scale(0.4);
  }

  to {
    transform: translateY($cardHeight) scale(0.4);
  }
}

.bus-lane {
  progress {
    width: 25px;
    height: 135px;
    top: 0;
    background: none;
    display: inline-block;
    position: absolute;
    z-index: 1;
  }
  progress[value]::-webkit-progress-bar {
    background: transparent;
  }
  progress[value]::-webkit-progress-value {
    background: black;
    opacity: 0.3;
  }
}
